# ARDUINO

# Arduino build files
*.elf
*.hex
*.bin
*.eep
*.map
*.obj
*.a
*.d
*.cpp.o
*.c.o
*.ino.*
*.log

# Arduino IDE temporary folders
/build-*
/*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# Secret configuration files
Secrets.h
config.h

# VSCode / PlatformIO
.vscode/
.env
platformio.ini

#
#
#

# SPRINGBOOT - JAVA

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Environment Files ###
.env
*.env

# OS-specific junk
.DS_Store
Thumbs.db

# Logs folder
logs/
log/