body{
  min-width: 400px;
  overflow-y: hidden;
  background-color: rgb(214, 214, 214);
  color: black;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main{
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.device-container{
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  min-height: 200px;
}

.device-placeholder{
  border: 1px dotted grey;
  border-radius: 8px;
  height: 200px;
  color: grey;
}

.device-info{
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  border-top: 1px dotted rgb(255, 255, 255);
  font-size: 0.8rem;
  text-align: center;
}

.status-dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.online{
  background-color: rgb(0, 201, 0);
}

.offline{
  background-color: red;
}

.device-path{
  background-color: rgb(218, 238, 255);
  padding: 0 10px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.device-name{
  background-color: rgb(162, 213, 255);
  font-weight: 600;
  padding: 3px 16px;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}