body{
  min-width: 400px;
  overflow-y: hidden;
  background-color: rgb(214, 214, 214);
  color: black;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main{
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.device-container{
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  min-height: 200px;
}

.device-placeholder{
  border: 1px dotted grey;
  border-radius: 8px;
  height: 200px;
  color: grey;
}

.device-info{
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  border-top: 1px dotted rgb(255, 255, 255);
  font-size: 0.8rem;
  text-align: center;
}

.status-dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.online{
  background-color: rgb(0, 201, 0);
}

.offline{
  background-color: red;
}

.device-path{
  background-color: rgb(218, 238, 255);
  padding: 0 10px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.device-name{
  background-color: rgb(162, 213, 255);
  font-weight: 600;
  padding: 3px 16px;
  clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}

.auto-button{
  background-color: white!important;
  color: #104481!important;
  border-color: #104481!important;
}

.auto-button:hover{
  background-color: #104481!important;
  color: white!important;
  border-color: white!important;
}

#auto-B1:checked + .auto-button{
  background-color: #104481!important;
  color: white!important;
}

.manual-button{
  background-color: white!important;
  color: #1e1f1f !important;
  border-color: #1e1f1f!important;
}

.manual-button:hover{
  background-color: #1e1f1f!important;
  color: white !important;
}

#manual-B1:checked + .manual-button{
  background-color: #1e1f1f!important;
  color: white !important;
}

/* Active button styling - disable checked button*/
.btn-check:checked + .btn {
    pointer-events: none;  /* disable mouse click */
    cursor: default;
}

#custom-tilt-value{
  width: 25px;
  display: inline-block;
  text-align: right;
}

/* SLIDER STYLES */
#custom-tilt {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

#custom-tilt:hover {
  opacity: 1;
}

/* -webkit- (Chrome, Opera, Safari, Edge) */
#custom-tilt::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20px;
  background: #1e1f1f;
  cursor: pointer;
  border-radius: 5px;
}

#custom-tilt[type=range]:disabled::-webkit-slider-thumb {
  cursor: default;
}

/* -moz- (Firefox) */
#custom-tilt::-moz-range-thumb {
  width: 8px;
  height: 20px;
  background: #1e1f1f;
  cursor: pointer;
  border-radius: 5px;
}

#custom-tilt[type=range]:disabled::-moz-range-thumb {
  cursor: default;
}

#custom-tilt[type=range]:disabled {
  opacity: 0.5;
  cursor: default;
}

#set-mode-toggle label{
  width: 100px;
}